*.iml
.gradle
.idea
.DS_Store
.kotlin
.build
build
captures
.externalNativeBuild
.cxx
local.properties
/.build
/Packages
xcuserdata
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
